body{margin:0;padding:0;background:#FCE4EC;font-size:14px;font-family:'微软雅黑','宋体',sans-serif;color:#002250;overflow:auto}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}
#text{width:400px;height:425px;left:0px;top:130px;position:absolute;}
#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:0px;top:640px;font-size:24px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px; font-size: 14px;margin-top: 20px;}
#clock .digit {font-size:64px;}
#canvas{
    position: absolute;
    left: 0;
    margin:0 auto;
    width:1100px;
    height:680px;
}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
.say{margin-left:5px;}
.space{margin-right:150px;}
.img{
    float: left;
    width: 88px;
    height: 88px;
    border-radius: 100px;
    overflow: hidden;
    background-color: rgb(87, 87, 87);
    border: solid 2px #555;
    opacity: 1;
    animation-name: example;
    animation-duration: 66s;
    }
@keyframes example {
    from {opacity: 0}
    to {opacity: 1}
}
.img img{
    width: 100%;
    }

